.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 90px;
  padding: 0 80px;

  background: var(--color-light-100);
  box-shadow: 0 1px 10px 1px rgb(0 0 0 / 20%);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 80px;
  padding: 10px 5px;

  background: var(--color-light-100);
  border-radius: 50%;
}

.logoWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
