.header {
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 120px;

  background: var(--color-light-100);
  box-shadow: 0 1px 10px 1px rgb(0 0 0 / 20%);
}

.headerContainer {
  flex-direction: row;
  justify-content: space-between;

  width: 100vw;
  height: 100%;
  padding: 0;
}
