.services {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: baseline;
  justify-content: space-between;

  width: fit-content;
  max-width: unset;
  height: 200px;

  @media (width <= 1280px) {
    gap: 10px;
    justify-content: space-around;
    height: fit-content;
  }

  @media (width <= 576px) {
    max-width: 410px;
  }
}
