.wrapper {
  position: relative;
  height: auto;
}

.imgWrapper {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 250px;
}

.photo {
  position: relative;
  z-index: -1;
  top: -150px;

  width: 100vw;
  height: 250%;

  object-fit: cover;

  @media (width <= 480px) {
    top: -80px;
    height: 150%;
  }
}

.textWrapper {
  position: absolute;
  z-index: 1;
  bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;

  text-align: justify;

  background: var(--color-light-100);

  @media (width <= 1200px) {
    position: relative;
    padding: 0;
  }
}

.iconTextBlock {
  display: flex;
  flex-direction: column;

  @media (width <= 768px) {
    flex-wrap: wrap;
  }
}

.textItalic {
  font-style: italic;
}
