.wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.withBg {
  background: var(--color-light-300);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
}
