.wrapper {
}

.wrapperLink {
  display: flex;
  gap: 5px;
  align-items: center;

  min-height: 60px;
  padding: 10px;
}

.withBg {
  background: var(--color-light-300);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.title {
  flex-wrap: nowrap;
}
