.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 15px;

  background: var(--color-accent-300);
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: stretch;
  justify-content: center;

  height: 100%;

  @media (width <= 576px) {
    flex-direction: column;
  }
}

.field {
  font-size: var(--font-size-xs);
}

.textfield {
  resize: none;
  font-size: var(--font-size-xs);
}

.field,
.textfield {
  width: 100%;
  height: 100%;
  padding: 5px 10px;

  font-family: var(--font-family-primary);

  border: none;

  &:focus {
    outline: none;
  }
}

.fieldWrapper {
  position: relative;
  flex-grow: 1;
  height: 40px;
}

.textfieldWrapper {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 48%;

  @media (width <= 768px) {
    height: 100px;
  }
}

.buttonWrapper {
  align-self: center;
}
