.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  padding: 15px;

  background: var(--color-accent-300);
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;

  height: 100%;
}

.field {
}

.textfield {
  resize: none;
  height: 100%;
}

.field,
.textfield {
  width: 100%;
  height: 100%;
  padding: 5px 10px;

  font-family: var(--font-family-primary);

  border: none;

  &:focus {
    outline: none;
  }
}

.fieldWrapper {
  position: relative;
  flex-grow: 1;
  height: 40px;
}

.textfieldWrapper {
  position: relative;
  flex-grow: 3;
  width: 100%;
  height: 60%;
}
