.aboutContainer {
  flex-flow: row wrap;
  gap: 20px;
  align-items: flex-start;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  gap: 20px;

  width: 73%;
}

.text1,
.text2 {
  text-align: justify;

  @media (width <= 480px) {
    text-align: unset;
  }
}

.photo {
  flex-grow: 0;
  width: 25%;
  height: auto;

  @media (width <= 768px) {
    width: 40%;
  }
}

.strong {
  display: inline;
}
