div.aboutContainer {
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;

  max-width: 1200px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  gap: 20px;

  width: 73%;

  @media (width <= 768px) {
    width: 100%;
  }
}

.text1,
.text2 {
  text-align: justify;
}

.photoWrapper {
  width: auto;
  height: 320px;

  @media (width <= 768px) {
    align-self: center;
    width: 60%;
    max-width: 300px;
    height: auto;
  }
}

.photo {
  width: auto;
  height: 100%;

  @media (width <= 768px) {
    width: 100%;
    height: auto;
  }
}

.strong {
  display: inline;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logoBlock {
  display: flex;
  flex-grow: 1;
  gap: 10px;
  width: fit-content;

  @media (width <= 768px) {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.text2 {
  font-style: italic;
}
