.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.alignLeft {
  align-items: start;
}

.underline {
  width: 70px;
  height: 3px;
  margin-top: 20px;
  background: var(--color-accent-300);

  @media (width <= 768px) {
    width: 35px;
    margin-top: 10px;
  }
}
