.wrapper {
  display: flex;
  gap: 3%;
  width: 350px;

  @media (width <= 768px) {
    align-items: center;
  }

  @media (width <= 380px) {
    width: 282px;
  }
}

.iconWrapper {
  display: flex;
  flex-grow: 0;
}

.title {
  flex-grow: 1;
  margin: 0 auto;
}
