@mixin typography(
  $font-size: var(--font-size-l),
  $font-weight: var(--font-weight-bold),
  $line-height: var(--line-height-m)
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: var(--color-dark-500);
  letter-spacing: 0.5px;
}

.large {
  @include typography(var(--font-size-xxl), $line-height: var(--line-height-l));

  text-transform: uppercase;
}

.h1 {
  @include typography(var(--font-size-xl), $line-height: var(--line-height-l));

  text-transform: uppercase;
}

.h2 {
  @include typography(var(--font-size-xl));
}

.h3,
.subtitle1 {
  @include typography;
}

.body1 {
  @include typography(var(--font-size-m), var(--font-weight-regular));
}

.body2 {
  @include typography(var(--font-size-s), var(--font-weight-regular));
}

.subtitle2 {
  @include typography(var(--font-size-s));
}

.link1 {
  @include typography(var(--font-size-s), var(--font-weight-regular));
}

.link2 {
  @include typography(
    var(--font-size-xs),
    var(--font-weight-regular),
    $line-height: var(--line-height-s)
  );
}

.link1,
.link2 {
  color: var(--color-info-500);
  text-decoration-line: underline;
}
