.appBar {
  position: fixed;
  z-index: 10;

  width: 100%;
  height: 110px;

  background: var(--color-light-100);
  box-shadow: 0 1px 10px 3px rgb(0 0 0 / 30%);

  @media (width <= 1280px) {
    height: 90px;
  }

  @media (width <= 768px) {
    height: 70px;
  }

  @media (width <= 480px) {
    height: 50px;
  }
}

div.headerContainer {
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

div.box {
  height: 100%;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: unset;

  transition: none;

  &:hover {
    background: var(--color-accent-300);
  }

  &:active {
    animation: none;
  }
}

.navbar {
  min-width: 459px;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.telephoneTitle {
  @media (width <= 576px) {
    display: none;
  }
}
