.MuiPaper-root {
  background: var(--color-light-100);
}

.appBar {
  position: fixed;
  height: 8vw;

  //background: var(--color-light-100);

  @media (width <= 768px) {
    height: 11%;
  }

  @media (width >= 1280px) {
    height: 110px;
  }
}

.headerContainer {
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.box {
  height: 100%;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border-radius: unset;

  transition: none;

  &:hover {
    background: var(--color-accent-300);
  }

  &:active {
    animation: none;
  }
}

.navbar {
  min-width: 425px;
}
