.footer {
  display: flex;
  align-items: center;

  width: 100vw;
  height: 110px;

  background: var(--color-light-700);
}

.logoWrapper {
  padding: 0 10px 0 5px;
  background: var(--color-light-100);
}

.footerContainer {
  flex-direction: row;
}
