.container {
  display: flex;
  flex-direction: column;
  gap: 3%;
  align-items: center;
  align-self: center;
  justify-content: center;

  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 4% 1%;
}
