div.contactsContainer {
  flex-direction: row;
  align-items: stretch;
  max-width: 1100px;
  height: auto;

  @media (width <= 768px) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

.contactsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 50%;
  min-width: 396px;

  @media (width <= 576px) {
    align-self: center;
    width: 80%;
    min-width: unset;
  }
}

.contactsLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formWrapper {
  display: flex;
  width: 50%;

  @media (width <= 768px) {
    align-self: center;
    width: 80%;
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  padding: 10px;

  background: var(--color-light-300);
}

.telWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 10px;

  background: var(--color-light-300);
}

.whiteBg {
  background: var(--color-light-100);
}
