.contactsContainer {
  flex-direction: row;
  max-width: 900px;
}

.contactsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 40%;
}

.contactsLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formWrapper {
  display: flex;
  width: 50%;
  height: 100%;
}
