.contactsContainer {
  flex-direction: row;
  align-items: stretch;
  max-width: 900px;
  height: auto;

  @media (width <= 576px) {
    flex-direction: column;
    justify-content: center;
  }
}

.contactsWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 40%;
  min-width: 210px;
}

.contactsLinks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formWrapper {
  display: flex;
  width: 60%;
}
